<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsPic</key>
					<string>榴莲.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>榴莲</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>120</integer>
					<key>realPrice</key>
					<integer>120</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全水果店铺</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>120</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsPic</key>
					<string>橘子.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>橘子</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>33</integer>
					<key>realPrice</key>
					<integer>33</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全水果店铺</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>33</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsPic</key>
					<string>香蕉.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>香蕉</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>8</integer>
					<key>realPrice</key>
					<integer>8</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全水果店铺</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>8</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>杜文全水果店铺</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsPic</key>
					<string>西服.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>西装</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>399</integer>
					<key>realPrice</key>
					<integer>399</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全衣装店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>399</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsPic</key>
					<string>短裤.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>短裤</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>99</integer>
					<key>realPrice</key>
					<integer>99</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全衣装店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>99</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsPic</key>
					<string>女装.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>女士上衣</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>199</integer>
					<key>realPrice</key>
					<integer>199</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全衣装店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>199</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>杜文全衣装店</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsPic</key>
					<string>猪头肉.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>翟瑞斌猪头肉</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>99</integer>
					<key>realPrice</key>
					<integer>99</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全生鲜店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>99</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsPic</key>
					<string>牛鞭.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>牛鞭</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>33</integer>
					<key>realPrice</key>
					<integer>33</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全生鲜店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>33</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>杜文全生鲜店</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsPic</key>
					<string>iOS10编程指南.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>iOS10编程指南</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>79</integer>
					<key>realPrice</key>
					<integer>79</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全iOS编程书籍店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>79</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsPic</key>
					<string>swift.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>swift3.0开发</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>112</integer>
					<key>realPrice</key>
					<integer>112</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全IOS编程书籍店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>112</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsPic</key>
					<string>放弃.jpeg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>从入门到放弃</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>100</integer>
					<key>realPrice</key>
					<integer>100</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>杜文全iOS编程书籍店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>100</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>杜文全iOS编程书籍店</string>
			<key>sid</key>
			<string>3</string>
		</dict>
	</array>
	<key>success</key>
	<true/>
</dict>
</plist>
